<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>인기 차트</h1>
    <% (data || []).forEach((song) => { %>
    <div onclick="updateData('<%= song._id %>')"><%= song.title %></div>
    <% }) %>
    <script>
      let isProcessing = false;
      const updateData = (ids) => {
        if (!isProcessing) {
          isProcessing = true;

          event.preventDefault();
          const data = { songid: ids }; // 수정할 데이터
          fetch("/update", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          })
            .then((response) => {
              console.log("Data updated successfully!");
            })
            .catch((error) => {
              console.error("Error updating data:", error);
            });

          isProcessing = false;
          console.log(isProcessing);
        }
      };
    </script>
  </body>
</html>
